body {
    font-family: 'Varela'; }
h1 {
    padding:5px;
    border-bottom:2px solid black; }
footer {
    border-top:1px solid black; }
#wrapper {
    width:100%; 
    background-color:blue;
    border-top:1px solid black;
    border-bottom:1px solid black; }
#content {
    float:right;
    width:70%; }
#contact {
    float:left;
    width:30%; }
p {
    padding:10px; }
